### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [107]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [108]:
#Things that did not work
    #Unique_Users.df = purchase_data["SN"].unique()
    #Unique_Users
    #purchase_data.count(axis = 1)
    #descrip = purchase_data.describe(include = 'object')
    #descrip
    #sum = Unique_Users.unique()
    #ColumnSN.count()
    #descrip = ColumnSN.describe(include = 'object')
    #descrip

#Created DF of Column SN, Dropped Duplicates, Counted Unique Values
ColumnSN = purchase_data.loc[:, ["SN"]]
ColumnSN.drop_duplicates().count()

SN    576
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [138]:
#Calculate Unique Items
UniqueItem = purchase_data.loc[:, ["Item ID"]]
CountItem = UniqueItem.drop_duplicates().count()
CountItem

Item ID    179
dtype: int64

In [110]:
#Calculate Average Price
AveragePrice = purchase_data.loc[:, ["Price"]]
MeanPrice = AveragePrice.mean()
MeanPrice

Price    3.050987
dtype: float64

In [148]:
#Calculate # of Purchases
NumPurchase = purchase_data.loc[:, ["Purchase ID"]]
PurchaseCount = NumPurchase.count()
PurchaseCount

Purchase ID    780
dtype: int64

In [112]:
#Calculate Total Revenue
RevenueSum = purchase_data.loc[:, ["Price"]]
TotalRevenue = RevenueSum.sum()
TotalRevenue

Price    2379.77
dtype: float64

In [147]:
#Create DF to showcase data
Totals_df = pd.DataFrame({
"Unique Items": [CountItem],
"Average Price": [MeanPrice],
"Number of Purchases": [PurchaseCount],
"Total Revenue": [TotalRevenue]
})
Totals_df

,Unique Items,Average Price,Number of Purchases,Total Revenue
0,Item ID 179 dtype: int64,Price 3.050987 dtype: float64,Purchase ID 780 dtype: int64,Price 2379.77 dtype: float64

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [152]:
#val = 24.8675
#print(f'{val:.2f}%')


#Count Male Players
#Calculate Male percentage and save as variable
CountMale = purchase_data.loc[:, "Gender" = 'Male']
MaleCount = CountMale.count()
MaleCount

SyntaxError: invalid syntax (<ipython-input-152-2291d87b3619>, line 7)

In [ ]:
#Count Female Players
#Calculate Female percentage and save as variable

In [ ]:
#Count Other/Undisclosed Players
#Calculate Other/Undisclosed percentage and save as variable

In [ ]:
#Create DF to store and display

In [57]:
#Sample output do not run


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
#Sample output do not run

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [59]:
#Sample output do not run

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
#Sample output do not run

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [61]:
#Sample output do not run

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
#Sample output do not run

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [63]:
#Sample output do not run