### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#Things that did not work
    #Unique_Users.df = purchase_data["SN"].unique()
    #Unique_Users
    #purchase_data.count(axis = 1)
    #descrip = purchase_data.describe(include = 'object')
    #descrip
    #sum = Unique_Users.unique()
    #ColumnSN.count()
    #descrip = ColumnSN.describe(include = 'object')
    #descrip

#Created DF of Column SN, Dropped Duplicates, Counted Unique Values
ColumnSN = purchase_data.loc[:, ["SN"]]
ColumnSN.drop_duplicates().count()

SN    576
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#Calculate Unique Items
UniqueItem = purchase_data.loc[:, ["Item ID"]]
CountItem = UniqueItem.drop_duplicates().count()
CountItem

Item ID    179
dtype: int64

In [4]:
#Calculate Average Price
AveragePrice = purchase_data.loc[:, ["Price"]]
MeanPrice = AveragePrice.mean()
MeanPrice

Price    3.050987
dtype: float64

In [5]:
#Calculate # of Purchases
NumPurchase = purchase_data.loc[:, ["Purchase ID"]]
PurchaseCount = NumPurchase.count()
PurchaseCount

Purchase ID    780
dtype: int64

In [6]:
#Calculate Total Revenue
RevenueSum = purchase_data.loc[:, ["Price"]]
TotalRevenue = RevenueSum.sum()
TotalRevenue

Price    2379.77
dtype: float64

In [7]:
#Create DF to showcase data
Totals_df = pd.DataFrame({
"Unique Items": [CountItem],
"Average Price": [MeanPrice],
"Number of Purchases": [PurchaseCount],
"Total Revenue": [TotalRevenue]
})
Totals_df

,Unique Items,Average Price,Number of Purchases,Total Revenue
0,Item ID 179 dtype: int64,Price 3.050987 dtype: float64,Purchase ID 780 dtype: int64,Price 2379.77 dtype: float64

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#At this point, tutor had stepped in to show me a better way
#Count Male Players
#This didn't work - Calculate Male percentage and save as variable
#CountMale = purchase_data.loc[:, "Gender" = 'Male']

#Retrieving Basic Data
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()

#Putting it into gender
gender_demographics = player_demographics["Gender"].value_counts()

gender_demographics

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [35]:
#Percent per gender
players_count = player_demographics.count()[0]#

gender_percent = (gender_demographics / players_count) * 100
gender_percent

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [36]:
#Creating Gender Table
gender_demographics_table = pd.DataFrame({"Total Count": gender_demographics, "Percent": gender_percent})

gender_demographics_table

                       Total Count    Percent
Male                           484  84.027778
Female                          81  14.062500
Other / Non-Disclosed           11   1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
#Purchases per gender
gender_purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [43]:
#Average price per gender
gender_purchase_price = purchase_data.groupby(["Gender"]).mean()["Price"]
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [44]:
#Total Purchase Value
gender_purchase_value = purchase_data.groupby(["Gender"]).sum()["Price"]
gender_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [46]:
#Gender Spend Per Person

gender_spend_pp = gender = gender_purchase_value / gender_demographics_table["Total Count"]

gender_spend_pp

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [47]:
#Creating Purchase Analysis DF by Gender
purchase_analysis = pd.DataFrame({"Purchase Count": gender_purchase_count, "Average Purchase Price": gender_purchase_price, "Total Purchase Value": gender_purchase_value, "Normalized Totals": gender_spend_pp})

purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [59]:
#Creating variables for age ranges and the labels as well
age_groups = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 222]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#putting groups in the pertinent labels and counting them
age_demographics = pd.cut(player_demographics["Age"], age_groups, labels=group_labels)

age_demographics

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [63]:
#Value counts of age grouping

age_demographics_counts = age_demographics.value_counts()

age_demographics_counts

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age, dtype: int64

In [62]:
#Demographic Percent Total

age_demo_percent = (age_demographics_totals / players_count) * 100

age_demo_percent

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age, dtype: float64

In [65]:
#Age Demographics Dataframe

age_demo_table = pd.DataFrame({"Total Count": age_demographics_counts, "Percentage of Players": age_demo_percent})

age_demo_table

       Total Count  Percentage of Players
20-24          258              44.791667
15-19          107              18.576389
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
10-14           22               3.819444
<10             17               2.951389
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
#Binning by age!
age_purchase_data = pd.cut(purchase_data["Age"], age_demographics_counts, labels=age_demo_groups)

age_purchases = purchase_data.groupby(["Age Ranges"]).sum()["Price"]

age_purchases

NameError: name 'age_demo_groups' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
#Sample output do not run

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
#Sample output do not run

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [20]:
#Sample output do not run