In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
#Things that did not work
    #Unique_Users.df = purchase_data["SN"].unique()
    #Unique_Users
    #purchase_data.count(axis = 1)
    #descrip = purchase_data.describe(include = 'object')
    #descrip
    #sum = Unique_Users.unique()
    #ColumnSN.count()
    #descrip = ColumnSN.describe(include = 'object')
    #descrip

#Created DF of Column SN, Dropped Duplicates, Counted Unique Values
ColumnSN = purchase_data.loc[:, ["SN"]]
ColumnSN.drop_duplicates().count()

SN    576
dtype: int64

In [4]:
#Calculate Unique Items
UniqueItem = purchase_data.loc[:, ["Item ID"]]
CountItem = UniqueItem.drop_duplicates().count()
CountItem

Item ID    179
dtype: int64

In [5]:
#Calculate Average Price
AveragePrice = purchase_data.loc[:, ["Price"]]
MeanPrice = AveragePrice.mean()
MeanPrice

Price    3.050987
dtype: float64

In [6]:
#Calculate # of Purchases
NumPurchase = purchase_data.loc[:, ["Purchase ID"]]
PurchaseCount = NumPurchase.count()
PurchaseCount

Purchase ID    780
dtype: int64

In [7]:
#Calculate Total Revenue
RevenueSum = purchase_data.loc[:, ["Price"]]
TotalRevenue = RevenueSum.sum()
TotalRevenue

Price    2379.77
dtype: float64

In [8]:
#Create DF to showcase data
Totals_df = pd.DataFrame({
"Unique Items": [CountItem],
"Average Price": [MeanPrice],
"Number of Purchases": [PurchaseCount],
"Total Revenue": [TotalRevenue]
})
Totals_df

,Unique Items,Average Price,Number of Purchases,Total Revenue
0,Item ID 179 dtype: int64,Price 3.050987 dtype: float64,Purchase ID 780 dtype: int64,Price 2379.77 dtype: float64

In [ ]:
#Count Male Players
#Calculate Male percentage and save as variable
CountMale = purchase_data.loc[:, "Gender" = 'Male']
MaleCount = CountMale.count()
MaleCount